body {
    background: url(../img/subtle_dots.png);
}

.rslides1 {
    list-style: none;
  }

.rslides1_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  z-index: 99;
  top: 50%;
  left: 0;
  opacity: 0.7;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("../img/themes.gif") no-repeat left top;
  margin-top: -45px;
  }

.rslides1_nav:active {
  opacity: 1.0;
  }

.rslides1_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  }

.rslides1_nav:focus,
.rslides2_nav:focus,
.rslides3_nav:focus {
  outline: none;
  }



.caption-container {
    position: absolute;
    width: 100%;
    top: 50%;
    background: none;
    text-transform: uppercase;
    opacity: 1;
    line-height: 50px;
    opacity: 1;
    z-index: 1;
    box-sizing: border-box;

}

.caption-wrap {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.caption-title {
    position: relative;
    padding: 20px;
    background: url(../img/caption-bg.png);
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 0px black;
}

.caption-text {
    text-shadow: 1px 1px 0px black;
    position: relative;
    font-size: 0.5em;
    color: white;
    margin-top: 7px;
    font-family: "Source Sans Pro",sans-serif;
    line-height: 25px;
    padding: 10px;
    background: url(../img/caption-bg.png);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

header {
    position: absolute;
    width: 100%;
}

header > .container {
    position: relative;
    z-index: 10000;
    margin-top: 14px;
}

.wrapper {
    margin-top: 14px;
}

.mini-box {
    padding: 32px;
    background: url(../img/bg-mini.png);
    border: 7px solid white;
    box-shadow: 0px 0px 2px #E0E0E0;
}


.mini-box2 {
    border: 7px solid white;
    box-shadow: 0px 0px 2px #E0E0E0;
}

.mini-box h3 {
    color: #3675C1;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 0px white, 3px 3px 0px #E0E0E0;
    border-bottom: 1px solid #D1D1D1;
}

.mini-box h4 {
    color: #717171;
    font-size: 1.2em;
    line-height: 24px;
}

hr {
    margin-top: 40px;
    margin-bottom: 10px;
    background: #E0E0E0;
    height: 4px;
    opacity: 0.4;
}

.prefooter {
    height: 3px;
    background-color: #E0E0E0;
    margin-bottom: 54px;
    box-shadow: 0px -1px 3px #E0E0E0;
}

.footer {
    position: relative;
    margin-top: 150px;
    color: white;
    background-color: #1E5AA1;
    background: url(../img/footer-bg.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.dotted {
    margin-top: 14px;
    margin-bottom: 14px;
    border-top: 1px dotted #6D9CEA;
}

.rights {
    text-align: center;
}

/*navbars*/
.navbar-inner {
    min-height: 0px;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: none;
    background-image: none;
    border: 1px solid #D4D4D4;
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    opacity: 0.9;
}

.nav > li > a {
    font-size: 1.2em;
    font-weight: bold;
}

.navbar .nav {
   padding-top: 15px;

}

.information-header {
    border-bottom: 4px solid #F4F4F4;
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 1.5em;
    font-weight: bold;
    color: #3675C1;
    text-shadow: 1px 1px white,2px 2px #DDD;
}
.wherefind{
    border-bottom: 1px dashed #EFEFEF;
    padding-bottom: 10px;
}

.inf-txt {
    text-indent: 10px;
    text-align: justify;
    padding-right: 5px;
}

.logo {
    width: 30px;

}