<div class="page-title-wrap">
  <div class="container">
    <div class="page-title">Контактная информация</div>
    <div class="page-subtitle">Федеральное казенное учреждение здравоохранения «Медико-санитарная часть МВД России по Челябинской области».</div>
  </div>
</div>
<script src="js/menu.js"></script>
<div class="container wrapper nomain">
  <section>
    <article>
      <div class="row-fluid">
	<div class="span12">
	  <div class="information-header">
	    Контакты
	  </div>

	  <table class="table">

          <tr>
            <th><h4>Фамилия Имя Отчество</h4></th>
            <th><h4>Должность</h4></th>
            <th><h4>Телефон</h4></th>
          </tr>
          <tr>
            <td>Корольков Владимир Владимирович </td>
            <td>Начальник ФКУЗ &quot;МСЧ МВД России по Челябинской области&quot;</td>
            <td>266-66-00, 268-81-80, факс: 268-88-78</td>
          </tr>
          <tr>
            <td>Федотова Ольга Владимировна</td>
            <td>Зам. начальника ФКУЗ &quot;МСЧ МВД России по Челябинской области&quot;</td>
            <td>268-86-35</td>
          </tr>
          <tr>
            <td>Гоголевская Алла Владимировна</a></td>
            <td>Начальник госпиталя №1</td>
            <td>268-86-14</td>
          </tr>
          <tr>
            <td>Звонкова Елена Ивановна</td>
            <td>Зам. начальника госпиталя по КЭР</td>
            <td>268-86-16</td>
          </tr>
          <tr>
            <td>Чубатова Ольга Леонидовна</a></td>
            <td>Начальник терапевтического отделения госпиталя №1</td>
            <td>268-85-61</td>
          </tr>
          <tr>
            <td>Табашникова Юлия Владимировна</a></td>
            <td>Начальник неврологического отделения госпиталя №1</td>
            <td>733-19-00</td>
          </tr>
          <tr>
            <td>Растакова Светлана Сергеевна</a></td>
            <td>Начальник физиотерапевтического отделения госпиталя №1</td>
            <td>268-82-34</td>
          </tr>
          <tr>
            <td>Роднянская Елена Владимировна</a></td>
            <td>Начальник диагностического отделения госпиталя №1</td>
            <td>733-18-19, 268-80-06</td>
          </tr>
          <tr>
            <td>Смирнов Александр Геннадьевич</a></td>
            <td>Начальник стоматологического отделения</td>
            <td>268-82-27; 268-83-06</td>
          </tr>
          <tr>
            <td>Прокудина Герта Оттовна</a></td>
            <td>Начальник лаборатории госпиталя №1</td>
            <td>733-19-25</td>
          </tr>
          <tr>
            <td>Брянцева Елена Рюриковна</a></td>
            <td>Начальник амбулаторно-поликлинического отделения</td>
            <td>268-88-99, 733-19-12</td>
          </tr>
          <tr>
            <td>Пузикова Светлана Сергеевна</a></td>
            <td>Начальник терапевтической службы</td>
            <td>268-82-48</td>
          </tr>
          <tr>
            <td>И.о. Анна Игоревна</td>
            <td>Начальник военно-врачебной комиссии</td>
            <td>268-84-57</td>
          </tr>
          <tr>
            <td>Соколенко Татьяна Александровна</a></td>
            <td>Зам. начальника военно-врачебной комиссии</td>
            <td>268-84-57</td>
          </tr>
          <tr>
            <td>Семенова Ольга Владимировна</td>
            <td>Начальник центра психофизиологической диагностики</td>
            <td>268-87-62</td>
          </tr>
          <tr>
            <td>Атаманова Наталья Леонидовна</a></td>
            <td>Врач-психиатр центра психофизиологической диагностики</td>
            <td>268-87-62</td>
          </tr>
          <tr>
            <td>Илина Виктория Васильевна</a></td>
            <td>Врач-рентгенолог</td>
            <td>268-88-88</td>
          </tr>
          <tr>
            <td>Щипанов Евгений Викторович</a></td>
            <td>Врач-дерматовенеролог, андролог</td>
            <td>8-351-904-74-65</td>
          </tr>
          <tr>
            <td>Мельчаков Алексей Леонидович</a></td>
            <td>Начальник центра государственно санитарно-эпидемиологического надзора</td>
            <td>733-10-19</td>
          </tr>
          <tr>
            <td>Стовба Дмитрий Михайлович</td>
            <td>Начальник Госпиталя №2 (г. Магнитогорск)</td>
            <td>8(351-9) 20-69-85</td>
          </tr>
          <tr>
            <td>Федорова Татьяна Владимировна</td>
            <td>Заместитель начальника Госпиталя №2 (г. Магнитогорск)</td>
            <td>8(351-9) 20-69-88</td>
          </tr>
          <tr>
            <td>Сергеева Елена Евгеньевна</td>
            <td>Начальник здравпункта №1 (г. Аша)</td>
            <td>8(351-5) 93-27-04</td>
          </tr>
          <tr>
            <td>Маршалова Нина Михайловна</td>
            <td>Начальник здравпункта №2 (г.Златоуст)</td>
            <td>8(351-3) 79-90-14</td>
          </tr>
          <tr>
            <td>Антипина Людмила Яковлевовна</td>
            <td>Начальник здравпункта №3 (г.Миасс)</td>
            <td>8(351-3) 29-94-95</td>
          </tr>
          <tr>
            <td>Анисимова Роза Расимовна</td>
            <td>Начальник здравпункта №4 (г.Коркино)</td>
            <td>8(351-5) 24-66-49</td>
          </tr>
          <tr>
            <td>Бызгу Ирина Ивановна</td>
            <td>Начальник здравпункта №5 (г.Кыштым)</td>
            <td>8(351-5) 14-46-29</td>
          </tr>
          <tr>
            <td>Корабельникова Тамара Никандровна</td>
            <td>Начальник здравпункта №7 (г. Южноуральск)</td>
            <td>8(351-3) 44-59-89</td>
          </tr>
          <tr>
            <td>Клокова Наталья Евгеньевна</a></td>
            <td>Заведующая аптекой - провизор аптеки Госпиталя №1</td>
            <td>266-66-29</td>
          </tr>
        </table>

	</div>
      </div>
    </article>
  </section>
</div>
