<div class="footer">
  <div class="prefooter"></div>
  <div class="container">
    <div class="row-fluid">
      <div class="span4">
	<h5>Контакты</h5>
	<div class="dotted"></div>
      </div>
      <div class="span4">
	<h5>Реквизиты</h5>
	<div class="dotted"></div>
      </div>
      <div class="span4">
	<h5>Карта</h5>
	<div class="dotted"></div>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12 clearfix">
	<div class="dotted"></div>
	<h6 class="rights">2012 (c) Все права защищены</h6>
      </div>
    </div>
  </div>
</div>
