<div class="page-title-wrap">
  <div class="container">
    <div class="page-title">Историческая справка</div>
    <div class="page-subtitle">Федеральное казенное учреждение здравоохранения «Медико-санитарная часть МВД России по Челябинской области».</div>
  </div>
</div>
<script src="js/menu.js"></script>
<div class="container wrapper nomain">
  <section>
    <article>
      <div class="row-fluid">
	<div class="span12">
	  <div class="information-header">
	    ФКУЗ "МСЧ МВД России по Челябинской области"
	  </div>
	  <p>
	    <strong>ФКУЗ "МСЧ МВД России по Челябинской области"</strong> начала свою деятельность с 15 февраля 1933 года и называлась «Поликлиника Челябинского оперативного сектора полномочного представительства объединенного государственного политического управления по Уралу». В структуру лечебного учреждения входила поликлиника и стационар на 15 коек. С 1935 года ведет свое начало санитарно-эпидемиологическая служба. В марте 1977 года приказом МВД СССР создана и начала работу Военно-врачебная комиссия, а в 1979 году при Военно-врачебной комиссии создана психофизиологическая лаборатория, ныне самостоятельное подразделение - Центр психологической диагностики. В 1978 году коллектив Медико-санитарной части удостоен звания «Коллектив высокой культуры».
	  </p>
	  <p>
	    На сегоднящний день ФКУЗ "Медико-санитарная часть МВД России по Челябинской области" - современное многопрофильное медецинское учреждение. В структуру которого входят:
	  </p>
	  <ul>
	    <li>
	      Поликлиника;
	    </li>
	    <li>
	      Госпиталь № 1 (дислокация г.Челябинск);
	    </li>
	    <li>
	      Госпиталь № 2 (дислокация г.Магнитогорск);
	    </li>
	    <li>
	      Аптека;
	    </li>
	    <li>
	      Центр государственного санитарно-эпидемиологического надзора;
	    </li>
	    <li>
	      Центр психофизиологической диагностики;
	    </li>
	    <li>
	      Военно-врачебная комиссия;
	    </li>
	    <li>
	      Медицинская часть по обслуживанию Центра профессиональной подготовки Главного управления МВД России по Челябинской области;
	    </li>
	    <li>
	      Централизованная бухгалтерия;
	    </li>
	    <li>
	      Канцелярия;
	    </li>
	    <li>
	      Группа кадров;
	    </li>
	    <li>
	      Правовая группа;
	    </li>
	    <li>
	      Отдел материально-технического и хозяйственного обеспечения;
	    </li>
	    <li>
	      Организационно-методический и лечебно-профилактический отдел;
	    </li>
	    <li>
	      Группа по взаимодействию с медицинскими организациями государственной и муниципальной системы здравоохранения;
	    </li>
	  </ul>
	  <p>
	    <strong>Направления работы:</strong> лечебно-консультативная помощь в условиях поликлиники, стационара, на дому для сотрудников ОВД, ГУФСИН, МЧС России, членов семей, пенсионеров.
	  </p>
	  <p>
	    <strong>Консультации специалистов:</strong> терапевт, хирург, офтальмолог, отоларинголог, травматолог-ортопед, гинеколог, уролог, дермато-венеролог, андролог, проктолог, кардиолог, психиатр, психиатр-нарколог, гастроэнтеролог, пульмонолог, врач стоматолог-хирург, врач стоматолог-терапевт, невролог.
	  </p>
	  <blockquote>
	    Коллектив Медико-санитарной части имеет большой опыт и возможности проводить комплексное медико-психологическое, лечебно-профилактическое обследования, включающие диагностику, лечение, реабилитацию, а также большой опыт в проведении профилактических мероприятий <strong>(медицинские осмотры, прививочные работы)</strong>. В Медико-санитарной части проводится <strong>освидетельствование на право пользования и хранения оружия, освидетельствование на водительской комиссии.</strong>
	  </blockquote>
	  <p>
  В лечебных подразделениях медицинской службы ведут прием врачи, имеющие первую и высшую категорию. В штате Госпиталя №1 (дислокация г. Челябинск) работают шесть кандидатов медицинских наук. В структуру госпиталей входят стационары на 100 коек (палаты одно, двух, трех местные) в Госпитале №1 (дислокация г. Челябинск) терапевтического и неврологического профилей, 50 коек в Госпитале №2 (дислокация г. Магнитогорск). Поликлинические отделения госпиталей позволяют осуществлять 650 посещений каждый день в городе Челябинске и 300 посещений в городе Магнитогорске.
	  </p>
	  <h4>В госпиталях развернуты лечебно-диагностические отделения:</h4>
	  <div class="dotted"></div>
	  <ul>
	    <li>
	      Диагностическое отделение (проводят исследования сердечно-сосудистой системы, эндоскопические, ультразвуковые, нейрофизиологические. Оснащены современной отечественной и зарубежной аппаратурой высокого и экспертного класса);
	    </li>
	    <li>
	      Физиотерапевтическое отделение (проводят лазеротерапевтическое лечение, электросветолечение, ингаляции, водолечение с ванными, гидромассаж, тепло-грязелечение (сапропелевые), парофинолечение);
	    </li>
	    <li>
	      Отделение клинической, биохимической, бактериологической диагностики;
	    </li>
	    <li>
	      Рентгенологическое отделение;
	    </li>
	    <li>
	      Стоматологическое отделение.
	    </li>
	    </ul>
	  <h4>Поликлиника</h4>
	  <div class="dotted"></div>
	  <p>
  В структуру госпиталя входит поликлиника на 650 посещений в день, в которой ведется прием квалифицированными специалистами по 21 специальности. Развернуто 6 лечебно-диагностических отделений: стоматологическое, диагностическое, физиотерапевтическое, рентгенологическое, клинико-лабораторное, амбулаторно-поликлиническое.
	  </p>
	  <p>
	    В поликлинике ведется амбулаторный прием и наблюдение по участковому принципу <strong>сотрудников органов внутренних дел, ГУФСИН, ГПС МЧС России, работников, пенсионеров, военнослужащих внутренних войск МВД России, курсантов специальных образовательных учреждений МВД РФ, членов их семей.</strong>
	  </p>
	  <p>
	    <strong>Консультации специалистов:</strong> терапевт, хирург, травматолог-ортопед, невролог, нейрохирург, сосудистый хирург, проктолог, офтальмолог, отоларинголог, акушер-гинеколог, дерматовенеролог, уролог, кардиолог, эндокринолог, пульмонолог, психиатр, гастроэнтеролог, инфекционист, врач-стоматолог-терапевт, физиотерапевт.
	  </p>
	  <h4>Стоматологическое отделение</h4>
	  <div class="dotted"></div>
	  <h4>Диагностическое отделение</h4>
	  <div class="dotted"></div>
	  <p>
	    В отделении проводится диагностика:
	  </p>
	  <ul>
	    <li>
	      существующей патологии сердечно-сосудистой системы, а так же используются методы исследования скрытых проявлений коронарной недостаточности, артериальной гипертензии, нарушений ритма сердца и проводимости, заболеваний магистральных и периферических сосудов;
	    </li>
	    <li>
	      функции внешнего дыхания;
	    </li>
	    <li>
	      церебрально-сосудистых заболеваний;
	    </li>
	  </ul>

	</div>
      </div>
    </article>
  </section>
</div>
