<div class="page-title-wrap">
  <div class="container">
    <div class="page-title">Историческая справка</div>
    <div class="page-subtitle">Федеральное казенное учреждение здравоохранения «Медико-санитарная часть МВД России по Челябинской области».</div>
  </div>
</div>
<script src="js/menu.js"></script>
<div class="container wrapper nomain">
  <section>
    <article>
      <div class="row-fluid">
	<div class="span12">
	  <div class="information-header">
	    ФКУЗ "МСЧ МВД России по Челябинской области"
	  </div>
	  <p>
	    <img src="img/history/guvd0000.jpg" class="pull-right thumbnail"></img>
	    <strong>ФКУЗ "МСЧ МВД России по Челябинской области"</strong> начала свою деятельность с 15 февраля 1933 года и называлась «Поликлиника Челябинского оперативного сектора полномочного представительства объединенного государственного политического управления по Уралу». В структуру лечебного учреждения входила поликлиника и стационар на 15 коек. С 1935 года ведет свое начало санитарно-эпидемиологическая служба. В марте 1977 года приказом МВД СССР создана и начала работу Военно-врачебная комиссия, а в 1979 году при Военно-врачебной комиссии создана психофизиологическая лаборатория, ныне самостоятельное подразделение - Центр психологической диагностики. В 1978 году коллектив Медико-санитарной части удостоен звания «Коллектив высокой культуры».
	  </p>
	  <p>
	    На сегоднящний день ФКУЗ "Медико-санитарная часть МВД России по Челябинской области" - современное многопрофильное медецинское учреждение. В структуру которого входят:
	  </p>
	  <ul>
	    <li>
	      Поликлиника;
	    </li>
	    <li>
	      Госпиталь № 1 (дислокация г.Челябинск);
	    </li>
	    <li>
	      Госпиталь № 2 (дислокация г.Магнитогорск);
	    </li>
	    <li>
	      Аптека;
	    </li>
	    <li>
	      Центр государственного санитарно-эпидемиологического надзора;
	    </li>
	    <li>
	      Центр психофизиологической диагностики;
	    </li>
	    <li>
	      Военно-врачебная комиссия;
	    </li>
	    <li>
	      Медицинская часть по обслуживанию Центра профессиональной подготовки Главного управления МВД России по Челябинской области;
	    </li>
	    <li>
	      Централизованная бухгалтерия;
	    </li>
	    <li>
	      Канцелярия;
	    </li>
	    <li>
	      Группа кадров;
	    </li>
	    <li>
	      Правовая группа;
	    </li>
	    <li>
	      Отдел материально-технического и хозяйственного обеспечения;
	    </li>
	    <li>
	      Организационно-методический и лечебно-профилактический отдел;
	    </li>
	    <li>
	      Группа по взаимодействию с медицинскими организациями государственной и муниципальной системы здравоохранения;
	    </li>
	  </ul>
	  <p>
	    <div class="thumbnail pull-right"><img src="img/history/guvd_hol.jpg"></img><em>Холл госпиталя №1</em></div>
	    <strong>Направления работы:</strong> лечебно-консультативная помощь в условиях поликлиники, стационара, на дому для сотрудников ОВД, ГУФСИН, МЧС России, членов семей, пенсионеров.
	  </p>
	  <p>
	    <strong>Консультации специалистов:</strong> терапевт, хирург, офтальмолог, отоларинголог, травматолог-ортопед, гинеколог, уролог, дермато-венеролог, андролог, проктолог, кардиолог, психиатр, психиатр-нарколог, гастроэнтеролог, пульмонолог, врач стоматолог-хирург, врач стоматолог-терапевт, невролог.
	  </p>
	  <blockquote>
	    Коллектив Медико-санитарной части имеет большой опыт и возможности проводить комплексное медико-психологическое, лечебно-профилактическое обследования, включающие диагностику, лечение, реабилитацию, а также большой опыт в проведении профилактических мероприятий <strong>(медицинские осмотры, прививочные работы)</strong>. В Медико-санитарной части проводится <strong>освидетельствование на право пользования и хранения оружия, освидетельствование на водительской комиссии.</strong>
	  </blockquote>
	  <p>
  В лечебных подразделениях медицинской службы ведут прием врачи, имеющие первую и высшую категорию. В штате Госпиталя №1 (дислокация г. Челябинск) работают шесть кандидатов медицинских наук. В структуру госпиталей входят стационары на 100 коек (палаты одно, двух, трех местные) в Госпитале №1 (дислокация г. Челябинск) терапевтического и неврологического профилей, 50 коек в Госпитале №2 (дислокация г. Магнитогорск). Поликлинические отделения госпиталей позволяют осуществлять 650 посещений каждый день в городе Челябинске и 300 посещений в городе Магнитогорске.
	  </p>
	  <h4>В госпиталях развернуты лечебно-диагностические отделения:</h4>
	  <div class="dotted"></div>
	  <div class="thumbnail pull-right"><img src="img/history/guvd_stp.jpg"></img><em>Стоматологическое отделение</em></div>
	  <ul>
	    <li>
	      Диагностическое отделение (проводят исследования сердечно-сосудистой системы, эндоскопические, ультразвуковые, нейрофизиологические. Оснащены современной отечественной и зарубежной аппаратурой высокого и экспертного класса);
	    </li>
	    <li>
	      Физиотерапевтическое отделение (проводят лазеротерапевтическое лечение, электросветолечение, ингаляции, водолечение с ванными, гидромассаж, тепло-грязелечение (сапропелевые), парофинолечение);
	    </li>
	    <li>
	      Отделение клинической, биохимической, бактериологической диагностики;
	    </li>
	    <li>
	      Рентгенологическое отделение;
	    </li>
	    <li>
	      Стоматологическое отделение.
	    </li>
	    </ul>
	  <h3>Поликлиника</h3>
	  <div class="dotted"></div>
	  <p>
  В структуру госпиталя входит поликлиника на 650 посещений в день, в которой ведется прием квалифицированными специалистами по 21 специальности. Развернуто 6 лечебно-диагностических отделений: стоматологическое, диагностическое, физиотерапевтическое, рентгенологическое, клинико-лабораторное, амбулаторно-поликлиническое.
	  </p>
	  <p>
	    В поликлинике ведется амбулаторный прием и наблюдение по участковому принципу <strong>сотрудников органов внутренних дел, ГУФСИН, ГПС МЧС России, работников, пенсионеров, военнослужащих внутренних войск МВД России, курсантов специальных образовательных учреждений МВД РФ, членов их семей.</strong>
	  </p>
	  <p>
	    <strong>Консультации специалистов:</strong> терапевт, хирург, травматолог-ортопед, невролог, нейрохирург, сосудистый хирург, проктолог, офтальмолог, отоларинголог, акушер-гинеколог, дерматовенеролог, уролог, кардиолог, эндокринолог, пульмонолог, психиатр, гастроэнтеролог, инфекционист, врач-стоматолог-терапевт, физиотерапевт.
	  </p>
	  <h3>Стоматологическое отделение</h3>
	  <div class="dotted"></div>
<!--	  <div class="thumbnail pull-left"><img src="img/history/msch_guv.jpg"></img><em>Стоматологическое отделение</em></div> -->
	  <h3>Диагностическое отделение</h3>
	  <div class="dotted"></div>
	  <p>
	    В отделении проводится диагностика:
	  </p>
	  <ul>
	    <li>
	      Существующей патологии сердечно-сосудистой системы, а так же используются методы исследования скрытых проявлений коронарной недостаточности, артериальной гипертензии, нарушений ритма сердца и проводимости, заболеваний магистральных и периферических сосудов;
	    </li>
	    <li>
	      Функции внешнего дыхания;
	    </li>
	    <li>
	      Церебрально-сосудистых заболеваний;
	    </li>
	  </ul>
	  <h4>Современная база ультразвуковой и эндоскопической аппаратуры позволяет проводить диагностику и выявлять патологию:</h4>
	  <div class="dotted"></div>
	  <div class="thumbnail pull-right"><img src="img/history/guvd_dia.jpg"></img><em></em></div>
	  <ul>
	    <li>
	      Желудочно-кишечного тракта
	    </li>
	    <li>
	      Органов брюшной полости и забрюшинного пространства
	    </li>
	    <li>
	      Щитовидной железы
	    </li>
	    <li>
	      Молочных желез
	    </li>
	    <li>
	      Мужской половой сферы
	    </li>
	    <li>
	      Опорно-двигательного аппарата
	    </li>
	  </ul>
	  <br>
	  <h4>Для диагностики состояния здоровья пациентов используются:</h4>
	  <div class="dotted"></div>
	  <ul>
	    <li>
	      <strong>Для исследования сердечно-сосудистой системы:</strong>
	      <div class="thumbnail pull-right"><img src="img/history/guvd_dia2.jpg"></img><em></em></div>
	      <ul>
		<li>
		  электрокардиографы (ЭКГ) японской фирмы "Fukuda"
		</li>
		<li>
		  суточное мониторирование ЭКГ и АД по Холтеру (ХМ-ЭКГ и ХМ-АД) на мониторах торговых марок: "BPLab", "Кардиотехника 4000", "ДОН" Россия
		</li>
		<li>
		  электрокардиостимулятор чреспищеводной и эндокардиальной стимуляции (ЧПЭС) микропроцессорный ЭКС-ЧСП-01 "Сетал", Россия
		</li>
		<li>
		  стресс-система с дозированной физической нагрузкой на основе велоэргометра (ВЭМ) и системой вакуумной аппликации электродов швейцарской компании "Schiller" ERG 911 S and BP
		</li>
		<li>
		  эхокардиография (ЭХОКС) и ультразвуковая допплерография (УЗДГ) магистральных артерий головы и периферических артерий верхних и нижних конечностей проводится на ультразвуковом аппарате "Vivid-3", США
		</li>
	      </ul>
	    </li>
	    <li>
	      <strong>Для исследования функции дыхания используется швейцарский аппарат "Schiller" Spirouit sp-1 (ФВД)</strong>
	    </li>
	    <li>
	      <strong>Для проведения нейрофизиологического исследования применяется нейродиагностическая установка (РЭГ, ЭЭГ, ЭХО-ЭГ) "Энцефалан" 131-03, Россия</strong>
	    </li>
	    <li>
	     <strong>Ультразвуковая диагностика (УЗИ) проводится на японском аппарате "Hitachi EUB-7000"</strong>
	    </li>
	    <li>
	      <strong>Кабинет эндоскопии (ФГС) работает на ведущей японской аппаратуре фирмы "Olympus" GIF-E3</strong>
	    </li>
	  </ul>
	  <h3>Терапевтическое отделение</h3>
	  <div class="dotted"></div>
	  <div class="thumbnail pull-right"><img src="img/history/guvd_pal.jpg"></img><em></em></div>
	  <p>
	    Отделение развернуто на 60 коек терапевтического профиля, включает в себя 4 палаты по 4 места, 11 палат по 3 места, 4 палаты по 2 места, 3 одноместные палаты (повышенной комфортности), оборудована отдельная палата для ветеранов Великой отечественной войны (трехместная палата с туалетом, телевизором, холодильником, телефоном). Отделение оборудовано круглосуточным врачебно-сестринским постом, постом для обслуживания больных дневного стационара.
	  </p>
	  <p>
	    В отделении оказывается <strong>квалифицированная медицинская помощь больным с заболеваниями сердечно сосудистой системы, органов дыхания, желудочно-кишечного тракта, опорно-двигательной системы, эндокринной патологией</strong>. Отделение работает в тесном контакте с параклиническими отделениями:
	  </p>
	  <ul>
	    <li>
	      Функциональной диагностики (ЭКГ, суточное мониторирование АД и ЭКГ, ультразвуковое исследование сосудов головы, шеи, верхних и нижних конечностей, сердца, органов брюшной полости, почек, щитовидной железы, органов малого таза, молочных желез, суставов, позвоночника, нагрузочные приборы, ФВД, ФГДС);
	    </li>
	    <li>
	      Рентгенологическим отделением (рентгенография органов грудной клетки, костно-мышечной системы, брюшной полости, желудка, ирригоскопия, урография);
	    </li>
	    <li>
	      Лабораторным отделением;
	    </li>
	  </ul>
	  <blockquote>
	    Проводятся консультации пульмонолога, кардиолога, гастроэнтеролога, эндокринолога, невролога, окулиста, хирурга, ангиохирурга, психиатра, оториноларинголога, уролога, травматолога, проктолога, гинеколога.
	  </blockquote>
	  <p>
	    В лечении больных используются современные препараты, осуществляется индивидуальный подбор лекарственной терапии при сахарном диабете (с использованием суточного контроля гликемии), артериальной гипертонии, ишемической болезни, язвенной болезни, бронхиальной астме, пневмонии, хронической обструктивной болезни лёгких, артрозах. При проведении курса терапии активно используются физиотерапевтические методы лечения.
	  </p>
	  <h3>Неврологическое отделение</h3>
	  <div class="dotted"></div>
	  <p>
	    Неврологическое отделение развернуто на 40 коек, из которых 50% круглосуточного, 50% - дневного пребывания. Отделение имеет I категорию. В отделении оказывается <strong>плановая медицинская помощь при лечении заболеваний неврологического профиля, а также экстренная помощь в случае получения закрытых черепно-мозговых травм лёгкой степени</strong>, проводится подготовка больных к проведению планового хирургического лечения, которое осуществляется в других лечебно-профилактических учреждениях города или области, а также переводятся на долечивание больные неврологического профиля из других стационаров города Челябинска после купирования экстренной патологии или хирургическою лечения.
	  </p>
	  <p>
	    В неврологическом отделении 9 палат рассчитанных на 3 места, 1 - на 4 места, 4 двухместных палаты и I одноместная; процедурный кабинет для проведения инъекций, капельных вливаний, медикаментозных блокад и диагностических пункций; клизменная для проведения лечебных клизм, а также для подготовки больных к исследованиям (ультразвуковому, ирригоскопии, в/венной урографии).
	  </p>
	  <p>
	    Неврологическое отделение работает в тесном контакте с физиотерапевтическим отделением и кабинетом лечебной физкультуры, которые работают в составе госпиталя №1 МСЧ ГУВД по Челябинской области. Диагностические исследования проводятся в лабораторном отделении, отделении функциональной диагностики, рентгенологическом отделении госпиталя №1.
	  </p>
	  <p>
	    В неврологическом отделении проходят лечение больные со следующими заболеваниями:
	  </p>
	  <ul>
	    <li>
	      Герпетический симпатоганглионеврит;
	    </li>
	    <li>
	      Периферические нейропатии;
	    </li>
	    <li>
	      Хронические цереброваскулярные заболевания или восстановительный период острых нарушений мозговою кровообращения;
	    </li>
	    <li>
	      Болевые и компрессионные синдромы при остеохондрозе позвоночника;
	    </li>
	    <li>
	      Закрытые черепно-мозговые травмы (сотрясения головного мозга) и последствия черепно-мозговых травм;
	    </li>
	    <li>
	      Острые рассеянные энцефаломиелиты, рассеянный склероз;
	    </li>
	    <li>
	      Эпилепсия и эпилептические синдромы;
	    </li>
	    <li>
	      Последствия воспалительных заболеваний нервной системы;
	    </li>
	    <li>
	      Дегенеративные заболевания нервной системы;
	    </li>
	    <li>
	      Краниалгии и др.
	    </li>
	  </ul>
	  <p>
	    В отделении широко применяются медикаментозные блокады при лечении болевых синдромов. Регулярно проводятся беседы с больными о здоровом образе жизни, первичной и вторичной профилактике заболеваний.
	  </p>
	  <h3>Физитерапевтическое отделение</h3>
	  <div class="dotted"></div>
	  <div class="thumbnail pull-right"><img src="img/history/guvd_van.jpg"></img><em></em></div>
	  <p>
	    В структуре физиотерапевтического отделения:
	  </p>
	  <ul>
	    <li>
	      <strong>Электросветолечебный кабинет где используется:</strong>
	      <ul>
		<li>
		  постоянный, переменный и импульсный электрический ток;
		</li>
		<li>
		  электрическое и магнитное поле;
		</li>
		<li>
		  электромагнитное излучение;
		</li>
		<li>
		  лазерное излучение;
		</li>
		<li>
		  ультразвуковая терапия.
		</li>
	      </ul>
	    </li>
	    <li>
	      Ингаляторий;
	    </li>
	    <li>
	      Водолечебница (подводный душ-массаж);
	    </li>
	    <li>
	      <div class="thumbnail pull-right"><img src="img/history/guvd_mas.jpg"></img><em></em></div>
	      Теплолечебница (парафин, озокерит, сапропелевая грязь);
	    </li>
	    <li>
	      Массажный кабинет;
	    </li>
	    <li>
	      Кабинет лечебной физкультуры.
	    </li>
	  </ul>
	  <p>
	    В отделении используются современные виды лечения физическими факторами. Проводится сочетание методов воздействия, что значительно повышает эффективность лечения, сохраняет сроки реабилитации пациентов.
В физиотерапевтическом отделении лечатся больные с различной нозологией: мочеполовой системы у мужчин (хр.простатиты различной этиологии, в т.ч. бесплодием, эректильной дисфункцией), женских половых органов, сердечно-сосудистой, дыхательной, опорно-двигательной систем и т.д.
	  </p>
	  <h3>Кабинет андрологии</h3>
	  <div class="dotted"></div>
	  <p>
	    <div class="thumbnail pull-right"><img src="img/history/shipanov.jpg"></img><em>Щипанов Евгений Викторович</em></div>
	    В кабинете андрологии для <strong>лечения и реабилитации пациентов с проблемами в мужской половой сфере</strong> применяются новейшие технологии медикаментозной терапии и физиолечения. Физиотерапевтические технологии лечения заболеваний мужской половой сферы проводятся на базе физиотерапевтического отделения, оснащенного современным медицинским оборудованием и техникой.
	  </p>
	  <p>
	    Применяются высокоэффективные авторские методики и программы лечения, при таких заболеваний мужской половой сферы как:
	  </p>
	  <ul>
	    <li>
	      Хронический простатиты различных этиологий;
	    </li>
	    <li>
	      Все виды эректильных дисфункций;
	    </li>
	    <li>
	      Бесплодие (мужское);
	    </li>
	    <li>
	      Болезнь Пейрони (фибропластическя индурация полового члена);
	    </li>
	    <li>
	      Начальные стадии ДГПЖ (аденома);
	    </li>
	    <li>
	      Заболевания передающиеся половым путем;
	    </li>
	    <li>
	      УЗИ-диагностика мочеполовой сферы;
	    </li>
	    <li>
	      Полное комплексное обследование мужчин;
	    </li>
	    <li>
	      Неинвазивные методы лечения с широким применением физиотерапии
	    </li>
	    <li>
	      Подготовка к процедуре ЭКО и т.д.
	    </li>
	  </ul>
	  <p>
	    Прием пациентов ведет врач высшей категории, дерматовенеролог, андролог <strong>Щипанов Евгений Викторович</strong>.
	  </p>
	  <h3>Клинико-диагностическая лаборатория</h3>
	  <div class="dotted"></div>
	  <p>
	    <div class="thumbnail pull-right"><img src="img/history/guvd_lab.jpg"></img><em></em></div>
	    Клинико-диагностическая лаборатория госпиталя оснащена современным диагностическим и вспомогательным оборудованием, что позволяет быстро и качественно выполнять биохимические, гематологические, общеклинические и цитологические исследования.
	  </p>
	  <ul>
	    <li>
	      На автоматическом биохимическом анализаторе "Advia 1200" 2008 г. выпуска и анализаторе КЩР газов и электролитов "Rapidlab 348" 2008 г. выпуска производится большой спектр биохимических исследований показателей крови, выявляются нарушения липидотранспортной системы.
	    </li>
	    <li>
	      Уровень глюкозы и лактата в крови и сыворотке определяется на анализаторе "Biosen C-Line" 2009 г. выпуска в присутствии пациента немедленно.
	    </li>
	    <li>
	      Проводится качественное и полуколичественное определение содержания антистрептолизила-О и ревматоидного фактора в сыворотке крови методом латексоглютинации, исследование гемостаза.
	    </li>
	    <li>
	      Гематологический отдел оборудован гематологической аналитической системой "Advia-60" 2008 г. выпуска, аппаратом для автоматизированной окраски мазков крови "Гематек" 2008 г. выпуска и современными микроскопами фирмы "Leica".
	    </li>
	    <li>
	      Для производства анализов мочи имеется анализатор "Clinitek 500" 2008 г. выпуска.
	    </li>
	  </ul>
	  <h3>Рентгеновский кабинет</h3>
	  <div class="dotted"></div>
	  <p>
	    <div class="thumbnail pull-right"><img src="img/history/guvd_ren.jpg"></img><em></em></div>
	    Рентгеновский кабинет расположен на втором этаже поликлиники в специально приспособленном помещении и включает в себя три кабинета: диагностический, флюорографический кабинет и рентген-архив - ординаторскую.
	  </p>
	  <p>
	    Планировка и оснащение кабинетов соответствуют всем санитарным нормам. Работа кабинета организована в 2 смены, что позволяет оказывать рентгенологическую помощь прикрепленному населению в течение всего рабочего дня и осуществлять преемственность в работе с другими больницами города. В 2006 году кабинет прошел лицензирование на право использования рентгеновской аппаратуры в медицинских целях. Лицензия № 74.50.11.002.Л.000095.1206 от 12 декабря 2006 года.
	  </p>
	  <p>
	    <strong>В кабинете применяются следующие методы рентгеновского исследования:</strong>
	  </p>
	  <ul>
	    <li>
	      Органов грудной полости:
	      <ul>
		<li>
		  полипозиционная рентгеноскопия и рентгенография
		</li>
		<li>
		  томография органов грудной клетки
		</li>
		<li>
		  рентгенография и скопия сердца с контрастированным пищеводом
		</li>
		<li>
		  флюорография органов грудной клетки
		</li>
	      </ul>
	    </li>
	    <li>
	      Органов желудочно-кишечного тракта:
	      <ul>
		<li>
		  рентгеноскопия и рентгенография пищевода, желудка, кишечника с использованием стандартных методик.
		</li>
		<li>
		  двойное контрастирование желудка с помощью газообразующей смеси
		</li>
		<li>
		  двойное контрастирование кишечника
		</li>
		<li>
		  беззондовая дуоденография
		</li>
	      </ul>
	    </li>
	    <li>
	    <div class="thumbnail pull-right"><img src="img/history/guvd_ren2.jpg"></img><em></em></div>
	      Желчного пузыря и желчевыводящих путей:
	      <ul>
		<li>
		  пероральная холецистография
		</li>
	      </ul>
	    </li>
	    <li>
	      Костно-суставной системы:
	      <ul>
		<li>
		  рентгенография
		</li>
		<li>
		  рентгенография с функциональными пробами
		</li>
		<li>
		  томография
		</li>
	      </ul>
	    </li>
	    <li>
	      Орбит:
	      <ul>
		<li>
		  рентгенография орбит стандартная и по Резе
		</li>
	      </ul>
	    </li>
	    <li>
	      Лор-органов:
	      <ul>
		<li>
		  рентгенография и флюорография придаточных пазух
		</li>
		<li>
		  рентгенография пирамид височных костей по Шюллеру, Майеру, Стенверсу
		</li>
	      </ul>
	    </li>
	    <li>
	      Мочеполовой системы:
	      <ul>
		<li>
		  обзорная урография
		</li>
		<li>
		  внутривенная урография
		</li>
		<li>
		  цистография
		</li>
	      </ul>
	    </li>
	  </ul>
	  <h3>Информация о врачах</h3>
	  <div class="dotted"></div>
	  <p>
	    Коллектив Медико-санитарной части имеет большой опыт и возможности проводить комплексное медико-психологическое, лечебно-профилактическое обследования, включающие диагностику, лечение, реабилитацию. В 1978 году коллектив Медико-санитарной части удостоен звания «Коллектив высокой культуры». В лечебных подразделениях медицинской службы ведут прием врачи, имеющие первую и высшую категорию. В штате Госпиталя №1 (дислокация г. Челябинск) работают шесть кандидатов медицинских наук.
	  </p>
	  <p>
	    Лицензия: 99-01-005087, 22.01.2008, Министерством здравоохранения и социального развития Федеральной службы по надзору в сфере здравоохранения и социального развития.
	  </p>
	</div>
      </div>
    </article>
  </section>
</div>
