<ul class="rslides1">
  <li><img src="img/2.jpg" alt="" />
    <div class="caption-container">
      <div class="caption-wrap">
	<div class="caption-title"><h1>Персонал</h1></div>
	<div class="caption-text"><h4>Квалифицированные специалисты в области медицины</h4></div>
      </div>
    </div>
  </li>
  <li><img src="img/1.jpg" alt="1111" />
    <div class="caption-container">
      <div class="caption-wrap">
	<div class="caption-title"><h1>Заголовок2</h1></div>
	<div class="caption-text"><h4>Текст2</h4></div>
      </div>
    </div>
  </li>
</ul>
<!-- Slider -->
<script src="js/responsiveslides.min.js"></script>
<script src="js/slider-config.js"></script>

<div class="container wrapper">
  <div class="row-fluid">
    {{#mini-boxes}}
    <div class="span4 mini-box">
      <img src="{{img}}" class="mini-box2 pull-right">
      <h3><i class="{{icon}}"></i> {{mb-title}}</h3>
      <h4>{{mb-txt}}</h4>
    </div>
    {{/mini-boxes}}
  </div>
  <hr></hr>
  <article>
    <section>
      <div class="row-fluid">
	<div class="span8">
	  <div class="information-header">
	    О нас
	  </div>
	  <p><h4>Медико-санитарная часть ГУВД по Челябинской области</h4>
	    <h5 class="inf-txt"><img src="img/inf.jpg" class="mini-box2 pull-right">
	      Медицинская служба ГУВД по Челябинской области начала свою деятельность с 15 февраля 1933 года и называлась «Поликлиника Челябинского оперативного сектора полномочного представительства объединенного государственного политического управления по Уралу». В структуру лечебного учреждения входила поликлиника и стационар на 15 коек. С 1935 года ведет свое начало санитарно-эпидемиологическая служба. В марте 1977 года приказом МВД СССР создана и начала работу Военно-врачебная комиссия, а в 1979 году при Военно-врачебной комиссии создана психофизиологическая лаборатория, ныне самостоятельное подразделение - Центр психологической диагностики. В 1978 году коллектив Медико-санитарной части удостоен звания «Коллектив высокой культуры».
	    </h5>
	  </p>
	</div>
	<div class="span4">
	  <div class="information-header">
	    Где нас найти
	  </div>
	  <h4 class="wherefind"><i class="icon-chevron-down icon-large"></i> г. Челябинск</h4>
	  <h4 class="wherefind"><i class="icon-chevron-down icon-large"></i> г. Магнитогорск</h4>
	  <div class="mini-box">
	    <iframe  frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=61.3928,55.1638,61.40154,55.16765&amp;layer=mapnik&amp;marker=55.16604,61.39753" style="border: 1px solid black"></iframe><br /><small><a href="http://www.openstreetmap.org/?lat=55.165725&amp;lon=61.39717&amp;zoom=16&amp;layers=M&amp;mlat=55.16604&amp;mlon=61.39753">крупнее</a></small>
	  </div>
	</div>
      </div>
  </article>
  </section>
</div>
