<div class="row-fluid">
{{#mini-boxes}}
 <div class="span4 mini-box">
    <img src="{{img}}" class="mini-box2 pull-right">
    <h3><i class="{{icon}}"></i> {{mb-title}}</h3>
    <h4>{{mb-txt}}</h4>
  </div>
{{/mini-boxes}}
</div>
<hr></hr>
