<ul class="rslides1">
  <li><img src="img/2.jpg" alt="" />
    <div class="caption-container">
      <div class="caption-wrap">
	<div class="caption-title"><h1>Персонал</h1></div>
	<div class="caption-text"><h4>Квалифицированные специалисты в области медицины</h4></div>
      </div>
    </div>
  </li>
  <li><img src="img/1.jpg" alt="1111" />
    <div class="caption-container">
      <div class="caption-wrap">
	<div class="caption-title"><h1>Заголовок2</h1></div>
	<div class="caption-text"><h4>Текст2</h4></div>
      </div>
    </div>
  </li>
</ul>
