<div class="page-title-wrap">
  <div class="container">
    <div class="page-title">Структура</div>
    <div class="page-subtitle">Федеральное казенное учреждение здравоохранения «Медико-санитарная часть МВД России по Челябинской области».</div>
  </div>
</div>
<script src="js/menu.js"></script>
<div class="container wrapper nomain">
  <section>
    <article>
      <div class="row-fluid">
	<div class="span12">
	  <div class="information-header">
	    Структура
	  </div>
	  <div class="accordion-group">
	    <div class="accordion-heading">
	      <a class="accordion-toggle a-struct" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
		<div class="row-fluid">
		  <div class="span2">
		    <img src="img/struct/shef.jpg" class="img-struct"  alt="">
		  </div>
		  <div class="span10">
		    <div class="caption">
		      <h3>Начальник медико-санитарной части</h3>
		      <div class="dotted"></div>
		      <h3>Корольков Владимир Владимирович</h3>
		      <h4>Кандидат медицинский наук, майор внутренней службы</h4>
		      <address>
			<h5><abbr title="Телефон">т.:</abbr> +7(351)-2-66-66-39</h5>
		      </address>
		    </div>
		  </div>
		</div>
	      </a>
	    </div>

	    <div id="collapseOne" class="accordion-body collapse">
	      <div class="accordion-inner">
		<h4>Биография</h4>
		<p>В 1994 году окончил Башкирский государственный медецинский институт, по специальности "педиатрия" - квалификация врач. C 01 сентября 2011 г. по настоящее время возглавляет ФКУЗ "МСЧ МВД Росии по Челябинской области"</p>
	      </div>
	    </div>
	  </div>

	  <div class="accordion-group">
	    <div class="accordion-heading">
	      <a class="accordion-toggle a-struct" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
		<div class="row-fluid">
		  <div class="span2">
		    <img src="img/struct/fedotova.jpg" class="img-struct"  alt="">
		  </div>
		  <div class="span10">
		    <div class="caption">
		      <h3>Заместитель начальника ФКУЗ "МСЧ МВД России по Челябинской области"</h3>
		      <div class="dotted"></div>
		      <h3>Федотова Ольга Владимировна</h3>
		      <h4>Полковник внутренней службы</h4>
		      <address>
			<h5><abbr title="Телефон">т.:</abbr> +7(351)-2-66-66-39</h5>
		      </address>
		    </div>
		  </div>
		</div>
	      </a>
	    </div>

	    <div id="collapseTwo" class="accordion-body collapse">
	      <div class="accordion-inner">
		<h4>Биография</h4>
		<p>В 1982 году окончила Пермский государственный медецинский институт, по специальности "лечебное дело" - квалификация врач.
		</p>
		<p>
		  В подчинении:
		  <ul>
		    <li>
		      Отдел организационно-методической и лечебно-профилакти-ческой работы
		    </li>
		    <li>
		      Отделение по взаимодействию с медицинскими организациями государственной и муниципальной системы здравохранения
		    </li>
		    <li>
		      Поликлиника
		    </li>
		    <li>
		      Госпиталь №1 (дислокация г. Челябинск)
		    </li>
		    <li>
		      Госпиталь №2 (дислокация г. Магнитогорск)
		    </li>
		    <li>
		      Аптека
		    </li>
		    <li>
		      Медицинская часть по обслуживанию Центра профессиональной подготовки
		</p>
	      </div>
	    </div>
	  </div>




	</div>
      </div>
    </article>
  </section>
</div>
